Repository pixijs/pixijs, pull requests merged in 2018-07, with the labels that each got.

#4994 Fixes JSdoc Events in 3.5.5
  packages/canvas/canvas-renderer/src/CanvasRenderer.js
  packages/core/src/Renderer.js
  packages/core/src/textures/BaseTexture.js
  packages/display/src/DisplayObject.js
  packages/interaction/src/InteractionManager.js
Labels: Difficulty: Easy, Domain: Documentation, Priority: High, Type: Bug, Version: v5.x

#5017 FilterSystem bugfix
  bundles/pixi.js/pixi.js.d.ts
  packages/core/src/filters/FilterSystem.js
  packages/core/src/renderTexture/RenderTextureSystem.js
Labels: Plugin: Filters, Priority: Critical, Renderer: WebGL, Version: v5.x

#5011 Extended spritesheet
  src/core/sprites/Sprite.js
  src/core/textures/Spritesheet.js
  src/core/textures/Texture.js
  src/extras/AnimatedSprite.js
  test/core/Spritesheet.js
  test/core/resources/building1.json
  test/core/resources/building1.png
  test/core/resources/building1@2x.json
  test/core/resources/building1@2x.png
  test/core/resources/src/goldmine_10_5.png
  test/core/resources/src/sheet.tps
  test/core/resources/src/star1.png
  test/core/resources/src/star2.png
  test/core/resources/src/star3.png
  test/core/resources/src/star4.png
  test/loaders/spritesheetParser.js
Labels: Difficulty: Medium, Domain: Tooling, Plugin: Loader, Priority: High, Type: Enhancement, Version: v4.x, Version: v5.x
