Repository pixijs/pixijs, pull requests merged in 2018-02, with the labels that each got.

#4688 First pass at tidying up shader
  packages/core/src/renderers/systems/shader/GLProgram.js
  packages/core/src/renderers/systems/shader/GLShader.js
  packages/core/src/renderers/systems/shader/ShaderSystem.js
  packages/core/src/renderers/systems/shader/shader/extractAttributes.js
  packages/core/src/renderers/systems/shader/shader/extractUniforms.js
  packages/core/src/renderers/systems/shader/shader/generateUniformAccessObject.js
  packages/core/src/renderers/systems/shader/shader/index.js
  packages/core/src/shader/Program.js
Labels: Difficulty: Hard, Priority: High, Renderer: WebGL, Type: Refactor, Version: v5.x

#4700 Set globals in the correct place
  packages/core/src/renderers/systems/shader/ShaderSystem.js
Labels: Difficulty: Easy, Priority: Critical, Version: v5.x

#4702 Blur Filter tweak
  bundles/pixi.js/src/deprecated.js
  bundles/pixi.js/src/index.js
  packages/filters/filter-blur/src/BlurFilter.js
  packages/filters/filter-blur/src/BlurFilterPass.js
  packages/filters/filter-blur/src/BlurXFilter.js
  packages/filters/filter-blur/src/index.js
Labels: Difficulty: Medium, Domain: API, Plugin: Filters, Priority: Medium, Type: Refactor, Version: v5.x

#4682 Filter fullScreen mode
  src/core/math/shapes/Rectangle.js
  src/core/renderers/webgl/managers/FilterManager.js
Labels: Difficulty: Medium, Plugin: Filters, Type: Enhancement, Version: v4.x

#4627 added min size restriction for Text canvas
  src/core/text/Text.js
  test/core/Text.js
Labels: Difficulty: Easy, Domain: Tests, Plugin: Text, Priority: Low, Type: Bug, Version: v4.x, Version: v5.x

#4636 Fix ColorMatrixFilter negative effect
  src/filters/colormatrix/ColorMatrixFilter.js
Labels: Difficulty: Easy, Plugin: Filters, Priority: Medium, Type: Bug, Version: v4.x, Version: v5.x

#4718 Replaces PREFER_WEBGL_2 and options.legacy with ENV and PREFER_ENV
  packages/app/src/Application.js
  packages/canvas/canvas-renderer/src/autoDetectRenderer.js
  packages/constants/src/index.js
  packages/core/src/Renderer.js
  packages/core/src/context/ContextSystem.js
  packages/core/src/geometry/GeometrySystem.js
  packages/core/src/index.js
  packages/core/src/settings.js
  packages/core/src/shader/utils/getTestContext.js
  packages/core/test/Renderer.js
  packages/settings/src/settings.js
  packages/sprite/src/SpriteRenderer.js
Labels: Difficulty: Easy, Domain: API, Priority: High, Type: Bug, Version: v5.x

#4714 add uniform names
  bundles/pixi.js/src/index.js
  packages/core/src/filters/Filter.js
  packages/core/src/filters/FilterSystem.js
  packages/filters/filter-blur/src/generateBlurVertSource.js
  packages/filters/filter-displacement/src/displacement.frag
  packages/filters/filter-displacement/src/displacement.vert
  packages/filters/filter-fxaa/src/fxaa.frag
  packages/filters/filter-fxaa/src/fxaa.vert
  packages/fragments/src/defaultFilter.vert
Labels: Difficulty: Hard, Domain: API, Plugin: Filters, Priority: High, Type: Refactor, Version: v5.x

#4719 [next] Improves Use of Minified Bundles
  bundles/pixi.js-legacy/package.json
  bundles/pixi.js/package.json
  lerna.json
  package.json
  rollup.config.js
Labels: Difficulty: Easy, Domain: Tooling, Priority: High, Type: Enhancement, Version: v5.x

#4698 Update README.md
  README.md
Labels: Difficulty: Easy, Domain: Documentation, Priority: Low, Type: Enhancement, Version: v4.x, Version: v5.x
