Repository pixijs/pixijs, pull requests merged in 2019-10, with the labels that each got.

#6154 Switch mod to floor in TilingSprite
  packages/sprite-tiling/src/tilingSprite.frag
Labels: Plugin: Tiling Sprite, Priority: Low

#6159 HitTest hole fix
  packages/graphics/src/GraphicsGeometry.js
  packages/graphics/test/index.js
Labels: Plugin: Graphics

#6041 Fix Texture prepare
  packages/prepare/src/BasePrepare.js
  packages/prepare/src/Prepare.js
Labels: Plugin: Prepare, Priority: Low

#6124 Accessibility upgrade!
  packages/accessibility/src/AccessibilityManager.js
  packages/accessibility/src/accessibleTarget.js
Labels: Priority: Low, Type: Bug, Version: v5.x
