Repository pixijs/pixijs, pull requests merged in 2019-11, with the labels that each got.

#6226 Fix graphics fillStyle instead of lineStyle
  packages/graphics/src/GraphicsGeometry.js
  packages/graphics/src/utils/BatchPart.js
  packages/graphics/src/utils/index.js
  packages/graphics/test/index.js
Labels: Plugin: Graphics, Type: Bug

#6160 [v4.x] HitTest hole fix
  src/core/graphics/Graphics.js
Labels: Plugin: Graphics, Version: v4.x

#6233 Added SimpleRope deprecation
  bundles/pixi.js/src/useDeprecated.js
Labels: Domain: Documentation, Version: v5.x
