Repository pixijs/pixijs, pull requests merged in 2019-09, with the labels that each got.

#6058 Replace filters getter with filters member
  packages/display/src/Container.js
Labels: Priority: Low

#6065 Fix sprite's uvs updating
  packages/sprite/src/Sprite.js
Labels: Priority: Critical, Renderer: WebGL

#6071 Revert "Replace filters getter with filters member (#6058)"
  packages/display/src/Container.js
Labels: Difficulty: Easy, Priority: Critical

#6061 Fix broken rendering of graphics by custom graphics plugin when is can't batched.
  packages/graphics/src/Graphics.js
Labels: Plugin: Graphics, Priority: Critical, Renderer: WebGL

#6088 Force texImage2D upload for videos
  packages/core/src/textures/resources/BaseImageResource.js
  packages/core/src/textures/resources/VideoResource.js
Labels: Plugin: Video Resource

#6090 Fix kerning rendering with letterSpacing (v4.x)
  src/core/text/Text.js
Labels: Plugin: Text

#6091 Fix kerning rendering with letterSpacing (v5.x)
  packages/text/src/Text.js
Labels: Plugin: Text

#6099 Optional renderTexture stencil
  packages/core/src/framebuffer/FramebufferSystem.js
  packages/core/src/mask/StencilSystem.js
  packages/core/src/renderTexture/BaseRenderTexture.js
Labels: Priority: High

#6089 InteractionManager refactoring: extract TreeSearch
  packages/interaction/src/InteractionManager.js
  packages/interaction/src/TreeSearch.js
Labels: Plugin: Interaction Manager, Type: Refactor

#5842 FIX: Correction of height and width in extracted canvas
  src/extract/canvas/CanvasExtract.js
  src/extract/webgl/WebGLExtract.js
Labels: Version: v4.x, X-files

#6115 Critical fix stencil webgl1
  packages/core/src/framebuffer/FramebufferSystem.js
Labels: Priority: Critical, Type: Bug

#6100 Introduce ALPHA_MODES instead of not obvious boolean values
  bundles/pixi.js/src/useDeprecated.js
  packages/constants/src/index.js
  packages/core/src/batch/AbstractBatchRenderer.js
  packages/core/src/filters/spriteMask/SpriteMaskFilter.js
  packages/core/src/textures/BaseTexture.js
  packages/core/src/textures/resources/BaseImageResource.js
  packages/core/src/textures/resources/BufferResource.js
  packages/core/src/textures/resources/DepthResource.js
  packages/core/src/textures/resources/ImageResource.js
  packages/core/test/ImageResource.js
  packages/mesh/src/MeshMaterial.js
  packages/particles/src/ParticleRenderer.js
  packages/sprite-tiling/src/TilingSpriteRenderer.js
Labels: Plugin: Texture Resource

#6132 XOR blendMode
  packages/canvas/canvas-renderer/src/utils/mapCanvasBlendModesToPixi.js
  packages/constants/src/index.js
  packages/core/src/state/utils/mapWebGLBlendModesToPixi.js
Labels: Type: Enhancement

#6077 Refact graphics
  packages/graphics/src/Graphics.js
  packages/graphics/src/GraphicsGeometry.js
  packages/graphics/src/index.js
  packages/graphics/src/utils/BatchPart.js
  packages/graphics/src/utils/index.js
  packages/graphics/test/index.js
Labels: Plugin: Graphics, Type: Refactor
