Repository pixijs/pixijs, pull requests merged in 2020-01, with the labels that each got.

#6231 Fix for when '_segmentsCount' can return NaN
  packages/graphics/src/const.js
Labels: Plugin: Graphics, Version: v5.x

#6264 Feature/more accessibility updates
  packages/accessibility/src/AccessibilityManager.js
Labels: Difficulty: Medium, Plugin: AccesibilityManager

#6295 Change filter clear parameter to clear modes
  packages/constants/src/index.ts
  packages/core/src/filters/Filter.js
  packages/core/src/filters/FilterSystem.js
  packages/core/src/shader/ShaderSystem.js
  packages/core/test/FilterSystem.js
  packages/core/test/index.js
  packages/filters/filter-blur/package.json
  packages/filters/filter-blur/src/BlurFilter.js
  packages/filters/filter-blur/src/BlurFilterPass.js
  packages/filters/filter-displacement/src/DisplacementFilter.js
Labels: Plugin: Filters

#6334 Clarify boundsID
  packages/display/src/Bounds.js
  packages/display/src/Container.js
  packages/display/src/DisplayObject.js
  packages/mixin-cache-as-bitmap/src/index.js
Labels: Plugin: Bounds
