Repository pixijs/pixijs, pull requests merged in 2020-02, with the labels that each got.

#6367 Support beginTextureFill() and lineTextureStyle() for canvas2d
  packages/canvas/canvas-graphics/src/CanvasGraphicsRenderer.js
  packages/canvas/canvas-renderer/src/canvasUtils.js
Labels: Plugin: Graphics, Renderer: Canvas

#6369 refactor generateUniformsSync to use an exposed set of parsers
  packages/core/src/index.ts
  packages/core/src/shader/utils/generateUniformsSync.ts
  packages/core/src/shader/utils/index.ts
  packages/core/src/shader/utils/uniformParsers.ts
Labels: Difficulty: Medium, Renderer: WebGL, Type: Enhancement

#6423 Fix: Floating point imprecision could break vertical text gradient generation
  packages/text/src/Text.ts
Labels: Plugin: Text, Type: Bug, Version: v5.x

#6426 Fixes usage of NaN
  packages/graphics/src/const.ts
Labels: Plugin: Graphics, Type: Bug, Version: v5.x

#6425 Making "updateText" to be public
  packages/text/src/Text.ts
Labels: Domain: API, Plugin: Text, Version: v5.x

#6443 Canvas2d transform improvement
  packages/canvas/canvas-graphics/src/CanvasGraphicsRenderer.js
  packages/canvas/canvas-mesh/src/CanvasMeshRenderer.js
  packages/canvas/canvas-mesh/src/NineSlicePlane.js
  packages/canvas/canvas-particles/src/ParticleContainer.js
  packages/canvas/canvas-renderer/src/CanvasRenderer.js
  packages/canvas/canvas-renderer/src/utils/CanvasMaskManager.js
  packages/canvas/canvas-renderer/test/CanvasRenderer.js
  packages/canvas/canvas-sprite-tiling/src/TilingSprite.js
  packages/canvas/canvas-sprite/src/CanvasSpriteRenderer.js
  packages/mixin-cache-as-bitmap/src/index.js
Labels: Plugin: cacheAsBitmap, Renderer: Canvas, Type: Refactor
